/* google font tag */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
 


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}



.body{
  background-color:   rgb(247, 247, 247);
}







/* shared */
.display-flex{
display: flex;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}
.color-orange{
    color: rgb(254, 163, 1);
    font-weight:bolder;

}
.color-skybkue{
    color: rgb(1, 172, 253);
    font-weight:bolder;
}
.color-blue{
    color: rgb(93, 88, 239);
    font-weight:bolder;

}
.p-center{
    text-align: center;
    font-size: 12px;
}

/* //////////////////////// */

.nav-container{
    justify-content:space-between;
    align-items: center;
     margin-left: 100px; 
     margin-right: 100px;
    text-align: center;
    

}
.logo-container{
    align-items: center;
    gap: 30px;
}
.nav-ul {
    gap: 20px;
}
.btn {
width: 130px;
height: 38px;
border-radius: 12px;
margin-top: 12px;

/* Orange */
background: rgb(254, 163, 1);
border: none;
color: rgb(255, 255, 255);
font-size: 13px;
}
.enroll-container{
    margin: 30px 141px;
    align-items: center;
    gap: 20px;
    
}
.enroll-h1{
font-size: 40px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0%;

}
.p-enroll{
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 12px;
font-weight: 600px;
line-height: 12px;
letter-spacing: 0%;


}
.enroll-btn{
width: 130px;
height: 38px;

margin-top: 12px;
border-radius: 6px;

/* Black */
background: rgb(17, 17, 17);
color: white;
}
.img-enroll{
    width: 100%;
}
.e-siz6{
    width: 50px;
    display: none;
}
.curriculum-section{
margin: 100px 150px;
background-image: url('assets/bg.png');
}
.curriculam-div{
    display: flex;
    gap: 18px;
    
 }

 .h2-curriculum{
    text-align: center;
    margin-bottom: 50px;
 }
 .curriculum-card{
    text-align: center;
box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 12.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);

 }
 /* card */
 .card1{
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
 }
 .card2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
 }
 .card3{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
 }
 .card-p{
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    line-height: 13.3px;
    letter-spacing: 0%;
    /* text-align: center; */
 }
 .circuule-curiculum{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 10px;

 }
 .circule{
   
width: 40px;
height: 40px;
border-radius: 30px;
color: rgb(255, 255, 255);
font-size: 24px;

/* Orange */
background: rgb(254, 163, 1);

 }



/* media query */

@media screen and (max-width:576px)
 {
    .nav-container{
        margin-left: 0px;
        margin-right: 0px;
    }
                      
    .nav-ul{

        display: none ;
    }
    .btn{
        display: none;
    
    }
    .enroll-container{
        margin: 0px 0px;
        flex-direction: column-reverse;
        
        
    }
    .img-enroll{
        width: 100%;
    }
   
.e-siz6{
    width: 50px;
    display: block;
}
.enroll-h1{
    text-align: center;
}
.p-enroll{
    text-align: center;
    font-size: 11px;
}
.enroll-btn{
    display: block;
   
   margin: 10px auto;
}
.curriculum-section{
    margin: 0 auto;
}
.curriculam-div{
    flex-direction:column;
}
.circuule-curiculum{
    display: none;
}
 }
 